<div class="projects container">
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento2.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento3.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento4.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2020</h3>
    </div>
  </div>
</div>
