<div class="projects container">
  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento1.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento2.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/Imagem\ WhatsApp\ 2024-05-30\ às\ 01.17.36_ff3d0349.jpg')"
  >
    <div class="card-content">
      <h3>Turma Eron</h3>
      <h4>Ano de 2023</h4>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/pensamento4.jpg')"
  >
    <div class="card-content">
      <h3>Encerramento do Curso</h3>
        <h4>Ano de 2023</h4>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/Imagem\ WhatsApp\ 2024-06-01\ às\ 20.10.25_2023encerramento.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>

  <div
    class="project-card card"
    style="background-image: url('../../../assets/IMG-20240530-WA0004.jpg')"
  >
    <div class="card-content">
      <h3>Turma Renata</h3>
      <h4>Ano de 2023</h4>

    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/IMG-20240530-WA0005.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/IMG-20240530-WA0002.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/Imagem\ WhatsApp\ 2024-10-13\ às\ 21.25.27_2023AlunosEmSala.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/Imagem\ WhatsApp\ 2024-10-13\ às\ 21.25.27_2023MomentoEmSalaMatheus.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/Imagem\ WhatsApp\ 2024-10-13\ às\ Rafaela.jpg')"
  >
    <div class="card-content">
      <h3>Ano de 2023</h3>
    </div>
  </div>
  <div
    class="project-card card"
    style="background-image: url('../../../assets/Pensamento\ Computacional\ 2023\ Instrutores\ e\ Coordenadora\ 1\ \(1\).png')"
  >
    <div class="card-content">
      <h3>Coordenadora e professores do pensamento computacional</h3>
      <h4>Ano de 2023</h4>
    </div>
  </div>
</div>
