<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="logo_unifil.png" alt="imagem aqui" />
    </div>
    <ul class="footer-links">
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/inicial">Inicial</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/quem-somos"
          >Quem somos</a
        >
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/turmas">Turmas Atuais</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/feedback">Feedback</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/mural">Mural</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/contato">Contato</a>
      </li>
    </ul>

    <div class="footer-social">
      <a href="#" class="social-icon">Facebook</a>
      <a href="#" class="social-icon">Twitter</a>
      <a href="#" class="social-icon">Instagram</a>
    </div>
  </div>
</footer>
