<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <a href="#">
        <img
          class="img-logo"
          src="../../../assets/logoUnifil.png"
          alt="imagem aqui"
        />
      </a>
    </div>
    <ul class="footer-links">
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/inicial">Inicial</a>
      </li>

      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/turmas">Turmas Atuais</a>
      </li>

      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/mural">Mural</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/contato">Contato</a>
      </li>
    </ul>

    <div class="footer-social">
      <a href="#" class="social-icon"
        ><img src="../../../assets/bxl-instagram (1).svg" alt=""
      /></a>
      <a href="#" class="social-icon"
        ><img src="../../../assets/bxl-facebook.svg" alt=""
      /></a>
      <a href="#" class="social-icon"
        ><img src="../../../assets/bxl-twitter.svg" alt=""
      /></a>
    </div>
  </div>
</footer>
