<!-- footer.component.html -->
<footer class="footer">
  <div class="footer-content">
    <div class="footer-logo">
      <a href="#">
        <img
          class="img-logo"
          src="../../../assets/logoUnifil.png"
          alt="imagem aqui"
        />
      </a>
    </div>
    <ul class="footer-links">
      <li class="nav-item">
        <a class="na-link" [routerLink]="['/inicial']">Início</a>
      </li>

      <li class="nav-item">
        <a class="na-link" [routerLink]="['/explicacao']">Explicação</a>
      </li>

      <li class="nav-item">
        <a class="na-link" [routerLink]="['/mural']">Mural</a>
      </li>
      <li class="nav-item">
        <a class="na-link" [routerLink]="['/contato']">Contato</a>
      </li>
    </ul>

    <div class="footer-social">
      <a href="https://www.instagram.com/computacaounifil?igsh=bmUycXowbnZmbW50" class="social-icon"
        ><img src="../../../assets/bxl-instagram (1).svg" alt=""
      /></a>
      
      <a href="https://x.com/unifiloficial?s=11&t=QxPj-FGtaMT3T0EOUDlaKw" class="social-icon"
        ><img src="../../../assets/bxl-twitter.svg" alt=""
      /></a>

     
    </div>
  </div>
</footer>
