.container{
    max-width: 70%;
    margin: 100px auto;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    
}
.container h3, h4{
    color: rgb(169, 115, 57);
    text-shadow:3px 3px 5px rgba(0, 0, 0, 0.5);
 
}


.container-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

img{
    width: 100%;
    margin-bottom: 40px;
    animation: desfocar 6s ease-out forwards;
}

@keyframes desfocar {
    0% {
        filter: blur(10px);  /* Início da animação com a imagem desfocada */
        opacity: 0;  /* Começa invisível */
    }
    100% {
        filter: blur(0);  /* Fim da animação, sem desfoque */
        opacity: 1;  /* Torna-se completamente visível */
    }
}
.lista-professores{
    padding: 50px 0px;
    
    li{
        margin: 20px 0px;
    }
    ul{
        list-style: none;
    }
}

.lista-monitores{
    padding: 50px 0px;

    ul{
        padding: 10px;
        list-style: none;
    }

    li{
        margin: 20px 0px;    
    }
}

@media (max-width: 768px) {
    .container{
        max-width: 90%;
        padding: 20px;
    }
}