<header>
  <nav class="nav-bar">
    <div class="logo">
      <a href="#">
        <img
          class="img-logo"
          src="../../../assets/logoUnifil.png"
          alt="imagem aqui"
        />
      </a>
    </div>
    <div class="nav-list">
      <ul>
        <li class="nav-item">
          <a class="na-link" href="http://localhost:4200/inicial">Inicial</a>
        </li>

        <li class="nav-item">
          <a class="na-link" href="http://localhost:4200/explicacao"
            >Explicação do curso</a
          >
        </li>

        <li class="nav-item">
          <a class="na-link" href="http://localhost:4200/mural">Mural</a>
        </li>
        <li class="nav-item">
          <a class="na-link" href="http://localhost:4200/contato">Contato</a>
        </li>
      </ul>
    </div>

    <div class="mobile-menu-icon">
      <button (click)="showMenu()">
        <img
          [src]="
            isMenuOpen
              ? '../../../assets/x-regular-24.png'
              : '../../../assets/menu-regular-24.png'
          "
          alt="botao do menu"
          class="icon"
        />
      </button>
    </div>
  </nav>

  <div class="mobile-menu" [class.open]="isMenuOpen">
    <ul class="ul-open">
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/inicial">Inicial</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/explicacao"
          >Explicação do curso</a
        >
      </li>

      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/mural">Mural</a>
      </li>
      <li class="nav-item">
        <a class="na-link" href="http://localhost:4200/contato">Contato</a>
      </li>
    </ul>
  </div>
</header>
