<app-header-default-component></app-header-default-component>

<h2>Módulos do curso Pensamento computacional</h2>
<div class="container1">
  <app-container-cards-default></app-container-cards-default>
</div>

<h2>Horários do curso</h2>
<app-table-default-component></app-table-default-component>

<div class="container-monitores">
  <h2>Papel dos monitores</h2>
  <p>
    Os monitores desempenham um papel fundamental na sala de aula. Eles estão presentes em todas as aulas para garantir
    que os alunos tenham o suporte necessário durante o aprendizado. Seu
    principal objetivo é tirar dúvidas, auxiliar no entendimento dos conteúdos e
    facilitar a aplicação prática dos conceitos.
    <br />
    <br />
    Além disso, os monitores estão disponíveis para dar orientação
    individualizada, ajudando os alunos a superarem desafios específicos, seja
    durante a escrita de código, na organização dos projetos ou na resolução de
    problemas. Com sua experiência e conhecimento, os monitores proporcionam um
    ambiente de aprendizado colaborativo, onde os alunos se sentem confortáveis
    para fazer perguntas e aprender no seu próprio ritmo.
    <br />
    <br />
    Os monitores também desempenham um papel importante em motivar os alunos,
    incentivando-os a persistirem mesmo diante de dificuldades, e celebrando
    suas conquistas ao longo do curso. Eles ajudam a criar um espaço de
    aprendizado acolhedor e produtivo, onde cada estudante tem a oportunidade de
    alcançar seu máximo potencial.
  </p>
</div>

<app-footer-default-component></app-footer-default-component>
