<app-header-default-component></app-header-default-component>

<!-- corpo da página -->
<h1 style="text-align: center; padding: 40px">Módulos</h1>
<app-conjuntoa-atividade-default></app-conjuntoa-atividade-default>

<p>
  aqui colocar o horario das aulas, o dia das aulas, que horas termina e que
  horas começa cada aulas como funciona a aula, local da aula, como é o decorrer
  da aula, ambiente da aula, falar sobre os monitores e a importancia desse
  curso para o aprendizado do aluno - fazer um componente geral, e
  subcomponentes
</p>

<app-footer-default-component></app-footer-default-component>
