.container1 {
    width: 95%;
    max-width: 2000px;
    margin: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* Ensure wrapping on smaller screens */
    margin-top: 30px;
    border-radius: 10px;

}



.texto {
    width: 100%;
    padding: 15px; /* Adds some padding around the text */
    text-align: center;
}


.texto h1{
    margin-bottom: 20px;
}

.texto p{
    font-size: 20px
}



@media screen and (max-width: 768px) {
    .container1 {
        flex-direction: column;
        padding: 10px;
    }

    .texto, .imagem {
        width: 100%; /* Full width on smaller screens */
        padding: 0; /* Adjust padding if necessary */
    }
}
