.container1 {
    width: 90%;
    max-width: 2000px;
    padding: 50px 50px;
    display: flex;
    justify-content: center;  /* Centraliza o conteúdo dentro da div */
    align-items: center;      /* Centraliza o conteúdo verticalmente dentro da div */
    gap: 20px;
    flex-wrap: wrap;          /* Garante que os itens se ajustem em telas menores */
    border-radius: 10px;      /* Bordas arredondadas */
    background-color: #d9d5d4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    flex: 1;
    margin: 30px auto;
    
}

.container1:hover{
    background-color: orange;
    transform: scale(1.05);

}

.texto {
    width: 100%;
    padding: 15px; /* Adds some padding around the text */
    flex-direction: column;
  
}
@keyframes fadeIn {
    0% {
        opacity: 0; /* Invisível no início */
        transform: translateY(-50px); /* Começa um pouco acima */
    }
    100% {
        opacity: 1; /* Fica totalmente visível */
        transform: translateY(0); /* Volta para a posição original */
    }
}

.texto h1{
    opacity: 0;
    margin-bottom: 20px;
    color: black;
    animation: fadeIn 6s ease forwards;
    
}

.desPensamento{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.texto p{
    font-size: 20px;
    text-align: justify;
  
}



@media screen and (max-width: 768px) {
    .container1 {
        flex-direction: column;
        padding: 10px;
    }

    .texto, .imagem {
        width: 100%; /* Full width on smaller screens */
        padding: 0; /* Adjust padding if necessary */
    }
}
