<div class="container1-modulos">
  <app-card-geral-default
    titulo="Módulo I"
    descricao="Programação em Bloco"
    imgSrc="../../assets/pensamento1.jpg"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo II"
    descricao="Programação em Script"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo III"
    descricao="HTML e CSS"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo IV"
    descricao="Programação de um jogo web com script"
  ></app-card-geral-default>
</div>
