.container{
    display: flex;
    max-width: 75%;
    margin: auto;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

@media(max-width: 768px) {
    .container{
        flex-direction: column;
    }
}