<div class="container1-modulos">
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
    imgSrc="../../assets/pensamento1.jpg"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
  ></app-card-geral-default>
</div>
