<div class="container">
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
    btnText="Saber mais"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
    btnText="Saber mais"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
    btnText="Saber mais"
  ></app-card-geral-default>
  <app-card-geral-default
    titulo="Módulo 1"
    descricao="Descricao do módulo 1"
    btnText="Saber mais"
  ></app-card-geral-default>
</div>
