.card-container{
    max-width: 200px;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.card-interno{
    padding: 30px;
    background-color: orange;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: arial;
    font-size: 1.6rem;
    color: black;
}

p{
    text-align: center;
    color: black;
    font-size: 1.3rem;
}

button{
    padding: 10px;
    font-size: 1.3rem;
    color: black;
    background-color: white;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 10px;
    margin-top: 10px;
}