.card-externa{
    margin: 10px;
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

.card{
    max-width: 400px;
    padding: 15px;
    background-color:white;
    margin: 20px;
}

.imagem{
    margin-bottom: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin-bottom: 10px;
}


