<div class="container">
  <h1 class="h1">Painel de avisos</h1>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>kdjlfajsdfçlksadjçflsakd</p>
    <p>data: 10/09/2023</p>
  </div>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>kdjlfajsdfçlksadjçflsakd</p>
    <p>data: 10/09/2023</p>
  </div>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>kdjlfajsdfçlksadjçflsakd</p>
    <p>data: 10/09/2023</p>
  </div>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>kdjlfajsdfçlksadjçflsakd</p>
    <p>data: 10/09/2023</p>
  </div>
</div>
