<div class="container">
  <h1 class="h1">Painel de avisos</h1>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut perspiciatis
      esse est sunt atque unde sed voluptate doloribus ab modi veritatis eum,
      error, architecto incidunt mollitia fugit nemo doloremque nulla!
    </p>
    <p>data: 10/09/2023</p>
  </div>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. A corrupti saepe
      explicabo quos fuga aperiam, autem beatae nostrum omnis? Suscipit aut
      dignissimos cumque quos laudantium ex, cum dolores porro consequuntur!
    </p>
    <p>data: 10/09/2023</p>
  </div>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolorum
      aspernatur. Officia tempora labore dolores? Nisi amet mollitia sed
      aperiam. Quos earum officia ratione ab tempora vitae cupiditate pariatur
      sunt.
    </p>
    <p>data: 10/09/2023</p>
  </div>
  <div class="card-aviso">
    <h1>aviso 1</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequatur
      pariatur doloremque cumque aliquam quis quisquam molestiae, itaque ad
      quod, assumenda hic nemo et. Perspiciatis esse numquam quod doloremque
      necessitatibus.
    </p>
    <p>data: 10/09/2023</p>
  </div>
</div>
