h1{
    text-align: center;
<<<<<<< HEAD
    margin: 10px;
}
.div-painel-aviso{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
app-painel-avisos, div-mural-atividades{
  width: 80%;
}
=======
    margin: 100px 30px 10px 30px; 
}
>>>>>>> 12bd826e215a7a26ca45c4e4026830e26057d3fe
