<!--header-->
<app-header-default-component></app-header-default-component>

<!--corpo da página-->

<app-retangulo-vermelho
  imageSrc="../../../assets/pensamento4.jpg"
  altText="Descrição da imagem"
></app-retangulo-vermelho>

<app-texto-img-default
  titulo="Pensamento Computacional"
  p="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, architecto. Tempore aperiam minus ex, id maxime quibusdam alias nihil ducimus quasi vero exercitationem optio possimus eius, placeat est non tenetur."
  imagemSrc="../../../assets/images_UniFil_logo-removebg-preview.png"
  altText="Logo Unifil"
  textoBotao="acessar grade do conteúdo do curso"
>
</app-texto-img-default>
<div class="div-painel-aviso">
  <app-painel-avisos></app-painel-avisos>
  <h1>Atividades em destaque na semana</h1>
  <app-mural-atividades class="div-mural-atividades"></app-mural-atividades>
</div>

<div class="flex-meio-a-meio">
  <div class="container1">
    <app-calendario></app-calendario>
  </div>
  <div class="container2">
    <app-acesso-site-unifil></app-acesso-site-unifil>
  </div>
</div>

<!--footer-->
<app-footer-default-component></app-footer-default-component>
