h1{
    text-align: center;
    margin: 10px;
}
.div-painel-aviso{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
app-painel-avisos, div-mural-atividades{
  width: 95%;
  max-width: 2000px;
}

.flex-meio-a-meio{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  max-width: 2000px;
  margin: 100px auto;
}

.container1-modulos {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colunas no desktop */
  gap: 20px; /* Espaçamento entre os itens */
  max-width: 1200px;
  margin: 0 auto; /* Centralizar o container */
  padding: 20px; /* Espaço interno */
}

/* Para tablets - 2 colunas */
@media (max-width: 1024px) {
  .container1-modulos {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas no tablet */
  }
}

/* Para mobile - 1 coluna */
@media (max-width: 600px) {
  .container1-modulos {
    grid-template-columns: 1fr; /* 1 coluna no mobile */
  }
}

.container2{
  width: 30%;
  max-width: 2000px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .flex-meio-a-meio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    max-width: 2000px;
    margin: 20px auto;
  }

  .container1{
    width: 100%;
  }

  .container2{
    width: 100%;
    margin: 10px;
  }
}


.desPensamento{
  margin: auto;
  display: flex;
  
}

@media(max-width: 1024px) {
  .desPensamento{
    flex-direction: column;
  }
}