<!--header-->
<app-header-default-component></app-header-default-component>

<!--corpo da página-->

<app-retangulo-vermelho
  imageSrc="../../../assets/pensamento4.jpg"
  altText="Descrição da imagem"
></app-retangulo-vermelho>
<div class="desPensamento">
  <app-texto-img-default
    titulo="Pensamento Computacional"
    p="É um curso oferecido pela
        UniFil para os alunos do
        ensino médio que abrange as
        escolas públicas e privadas.
        Onde eles aprendem sobre o
        mundo da programação. Tem como objetivo Oferecer suporte à comunidade de Londrina e região, na área de  desenvolvimento do pensamento lógico dos estudantes"
  >
  </app-texto-img-default>

  <app-texto-img-default
    class="segundo-paragrafo"
    p="O Curso pensamento Computacional da UNIFIL é uma oportunidade única para alunos do ensino médio das escolas públicas de Londrina. Totalmente gratuito, o curso oferece um aprendizado prático e teórico em HTML, CSS, programação em bloco e JavaScript, preparando os estudantes para o mundo digital."
  >
  </app-texto-img-default>
</div>

<h2 style="text-align: center; font-size: 30px; margin-top: 70px">
  Galeria de fotos
</h2>


<app-container-fotos></app-container-fotos>
<div class="desPensamento">
  <app-texto-img-default
    titulo="Por que fazer o pensamento?"
    p="Quando aplicamos o pensamento computacional, aprendemos a tomar decisões mais informadas por
    meio das análises lógicas, contribuindo para decisões mais assertivas.O desenvolvimento de
    algoritmos eficientes
    possibilita a automação de tarefas, melhorando a eficiência e permitindo que as pessoas se
    concentrem em atividades mais
    complexas e estratégicas.

     Essas habilidades capacitam as pessoas a se adaptarem rapidamente a novas tecnologias e
    ferramentas digitais, promovendo a agilidade e a capacidade de aprendizado contínuo."
    p2="Em muitos setores, as habilidades relacionadas ao pensamento computacional são altamente
    valorizadas. A capacidade de resolver problemas, pensar de maneira lógica e entender algoritmos
    é essencial em muitos ambientes de trabalho.
      
    O pensamento computacional estimula a criatividade e a inovação. Ao abordar problemas de maneira
    sistemática, as pessoas podem descobrir soluções inovadoras e criar novos produtos, serviços ou
    abordagens.

    Também contribui para o desenvolvimento de habilidades cognitivas, como raciocínio lógico,
    análise crítica, resolução de problemas e abstração. Essas habilidades têm aplicações amplas em
    diversas áreas."
  ></app-texto-img-default>
</div>

<h2 style="text-align: center; font-size: 30px; margin-top: 100px">
  Depoimento dos professores
</h2>
<app-depoimentos-professores-default></app-depoimentos-professores-default>
<div>

<div class="flex-meio-a-meio">
  <div class="container1">
    <app-calendario titulo="Calendário de eventos"></app-calendario>
  </div>

  <div class="container2">
    <app-acesso-site-unifil
      titulo="Quer saber mais? Acesse o site da UniFil. "
      imagemSrc="../../../assets/pensamento4.jpg"
      altText="imagem da unifil aqui"
    ></app-acesso-site-unifil>
  </div>
</div>

<!--footer-->
<app-footer-default-component></app-footer-default-component>

<!-- arrumar componentes de avisos e do calendario - descentralizar os componentes, fazer um para aviso e ai uma coleção de avisos e fazer o mesmo para o calendario-->
