<div class="contato">
  <h2>Formas de Contato</h2>

  <div class="info">
    <h3>Telefone</h3>
    <p>(43) 3375 7474</p>
  </div>

  <div class="info">
    <h3>Email</h3>
    <p><a href="mailto:contato&#64;exemplo.com">unifiltech&#64;unifil.com</a></p>
  </div>

  <div class="info">
    <h3>Localização</h3>
    <p>Avenida Juscelino Kubitschek, 1870 <br />Londrina, Paraná, 86020-000</p>
  </div>

  <div class="info">
    <h3>Horário de Atendimento</h3>
    <p>
      Segunda a Sexta: 8h às 20h<br />Sábado: 9h às 15h<br />Domingo: Fechado
    </p>
  </div>

  <div class="info">
    <h3>Redes Sociais</h3>
    <p>
      <a href="https://www.facebook.com/pages/Ciencia%20da%20Computa%C3%A7%C3%A3o%20-%20Unifil/415493401855446/" target="_blank">Facebook</a><br />
      <a href="https://x.com/unifiloficial?s=11&t=QxPj-FGtaMT3T0EOUDlaKw" target="_blank">Twitter</a><br />
      <a href="https://www.instagram.com/computacaounifil?igsh=bmUycXowbnZmbW50" target="_blank">Instagram</a>
    </p>
  </div>
</div>
