.container{
  max-width: 1000px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.container a {
  color: rgb(60, 57, 57);
}

.container h1, h3, p{
  text-shadow: 2px 2px 9px rgb(168, 163, 163);
}

@media(min-width: 1336px) {
  .container{
    margin: auto;
    align-items: center;
    margin-top: 50px;
    max-width: 1000px;
  }
}