<div class="container">
  <h1>Fale connosco:</h1>
  <h3>Telefone: (43) 3375-7474</h3>
  <h3>
    Email:
    <a href="mailto:contato&#64;exemplo.com">unifiltech&#64;unifil.com</a>
  </h3>
  <h3>
    Horário de atendimento presencial: 
  </h3>
  <p>Segunda a Sexta: 8h às 20h - Sábado: 9h
    às 15h<br />Domingo: Fechado</p>
  <h3>
    Redes sociais:
    <a href="https://www.instagram.com/computacaounifil/?igsh=bmUycXowbnZmbW50"><img src="../../../assets/bxl-instagram (1).svg" alt="" /></a>
   
    <a href="https://x.com/unifiloficial?s=11&t=QxPj-FGtaMT3T0EOUDlaKw"><img src="../../../assets/bxl-twitter.svg" alt="" /></a>
  </h3>
</div>
