.container{
  max-width: 2000px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color:#f1651fef;
  
}

.container a {
  color: rgb(60, 57, 57);
}

.container h1, h3, p{
  text-shadow: 2px 2px 9px rgb(168, 163, 163);
}

