<div class="contato">
  <h2>Formas de Contato</h2>

  <div class="info">
    <h3>Telefone</h3>
    <p>(11) 1234-5678</p>
  </div>

  <div class="info">
    <h3>Email</h3>
    <p><a href="mailto:contato&#64;exemplo.com">contato&#64;exemplo.com</a></p>
  </div>

  <div class="info">
    <h3>Localização</h3>
    <p>Rua Exemplo, 123<br />Cidade, Estado, 00000-000</p>
  </div>

  <div class="info">
    <h3>Horário de Atendimento</h3>
    <p>
      Segunda a Sexta: 9h às 18h<br />Sábado: 10h às 14h<br />Domingo: Fechado
    </p>
  </div>

  <div class="info">
    <h3>Redes Sociais</h3>
    <p>
      <a href="https://facebook.com/empresa" target="_blank">Facebook</a><br />
      <a href="https://twitter.com/empresa" target="_blank">Twitter</a><br />
      <a href="https://instagram.com/empresa" target="_blank">Instagram</a>
    </p>
  </div>
</div>
