<app-card-depoimento-prof
  nomeProf="Eron Ponce"
  descricao="O projeto do pensamento computacional me mudou nos longos desses 3 anos, me permitiu ganhar experiencias que nunca teria pensado em adquirir, é ótimo saber que você está realizando algo que você gosta. A interação com os alunos e entendimento aprofundado me ajudou muito em minha caminhada e em minha opinião os monitores que passaram pelo pensamento computacional amadureceram, entendendo processos e como ajudar outras pessoas, isso é ótimo para a sociedade e imagino que esse projeto realmente consiga impactar o ecossistema de Londrina."

  
  imagemSrc="../../../assets/eron2.jpg"

></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Renata Gransoti"
  descricao="Fui monitora em 2022 e instrutora em 2023 e 2024, foi uma experiência muito boa, onde consegui ensinar lógica de programação e como pensar computacionalmente. Consegui ver a evolução dos alunos no decorrer do curso e é muito gratificante saber que contribui através do ensino e uso de tecnologias na vida deles."
  imagemSrc="../../../assets/Renata2.jpg"
></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Matheus Vinicíus"
  descricao="Minha experiência como professor nesse projeto foi extremamente gratificante. Enquanto ensinava conceitos e tecnologias atuais do mercado, também pude aprofundar meu conhecimento em tópicos importantes, com foco sempre nos fundamentos. Essa busca por entender melhor esses fundamentos me motivou a procurar novas ideias e inovações para compartilhar com meus alunos. O aprendizado foi uma via de mão dupla: cada interação e questionamento em sala de aula me ajudou a crescer profissional e pessoalmente. Essa troca de experiências tornou tudo ainda mais enriquecedor."
  imagemSrc="../../../assets/Matheus2.3.jpg"
></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Geovana Andrade"
  descricao="Fui professora no Pensamento Computacional e, durante minha experiência, tive a oportunidade de contribuir para a formação de jovens do ensino médio no aprendizado de lógica de programação e programação básica. O curso, gratuito e acessível, foi uma oportunidade única de levar conhecimento a estudantes que, de outra forma, poderiam não ter acesso tão facilitado a essas ferramentas. Isso também contribui para colocar os alunos em contato com a área de tecnologia, onde eles podem descobrir afinidade e seguir carreira."

  descricao2 ="O impacto desse projeto foi transformador, tanto para os alunos quanto para mim. Ver o progresso e a curiosidade dos estudantes ao longo do curso foi extremamente gratificante e reforçou a importância de iniciativas que democratizam o ensino de tecnologia.Foi muito enriquecedor participar desse processo de construção de habilidades, não só técnicas, mas também de pensamento crítico e resolução de problemas."
  
   descricao3 = "Essa experiência também foi essencial para o meu próprio desenvolvimento, tanto no campo educacional quanto na compreensão do poder que a tecnologia tem para abrir novas perspectivas. Acredito que projetos como esse desempenham um papel fundamental ao proporcionar oportunidades de aprendizado e crescimento, preparando jovens para enfrentar os desafios do futuro."
  imagemSrc="../../../assets/Geovana1.jpg"
></app-card-depoimento-prof>
