<app-card-depoimento-prof
  nomeProf="Eron"
  descricao="loremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa oremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa"
  imagemSrc="../../../assets/pessoa.png"
></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Renata"
  descricao="loremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa oremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa"
  imagemSrc="../../../assets/pessoa.png"
></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Matheus"
  descricao="loremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa oremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa"
  imagemSrc="../../../assets/pessoa.png"
></app-card-depoimento-prof>
