<app-card-depoimento-prof
  nomeProf="Eron Ponce"
  descricao="O projeto do pensamento computacional me mudou nos longos desses 3 anos, me permitiu ganhar experiencias que nunca teria pensado em adquirir, é ótimo saber que você está realizando algo que você gosta. A interação com os alunos e entendimento aprofundado me ajudou muito em minha caminhada e em minha opinião os monitores que passaram pelo pensamento computacional amadureceram, entendendo processos e como ajudar outras pessoas, isso é ótimo para a sociedade e imagino que esse projeto realmente consiga impactar o ecossistema de Londrina."

  
  imagemSrc="../../../assets/eron2.jpg"

></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Renata Gransoti"
  descricao="Fui monitora em 2022 e instrutora em 2023 e 2024, foi uma experiência muito boa, onde consegui ensinar lógica de programação e como pensar computacionalmente. Consegui ver a evolução dos alunos no decorrer do curso e é muito gratificante saber que contribui através do ensino e uso de tecnologias na vida deles."
  imagemSrc="../../../assets/Renata2.jpg"
></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Matheus Vinicíus"
  descricao="loremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa oremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa"
  imagemSrc="../../../assets/Matheus.png"
></app-card-depoimento-prof>

<app-card-depoimento-prof
  nomeProf="Geovana Andrade"
  descricao="loremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa oremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf faoremkldajflkadsjflasdkjflçkdsajflçadsjfaçsdlkf ldsjfçlkadsjfçlaksd jasldkjfa sdçlkf fa"
  imagemSrc="../../../assets/pessoa.png"
></app-card-depoimento-prof>
