<div class="event-calendar">
  <h3>{{ titulo }}</h3>

  <app-evento-calendario
    descricao="Abertura do curso"
    dataDia="10"
    dataMes="FEV"
  ></app-evento-calendario>

  <app-evento-calendario
    descricao="Férias de julho"
    dataDia="04"
    dataMes="JUL"
  ></app-evento-calendario>

  <app-evento-calendario
    descricao="Última aula do curso"
    dataDia="10"
    dataMes="NOV"
  ></app-evento-calendario>

  <app-evento-calendario
    descricao="Formatura e encerramento do curso"
    dataDia="15"
    dataMes="NOV"
  ></app-evento-calendario>
</div>
