<div class="event-calendar">
  <h3>{{ titulo }}</h3>
  <div class="event">
    <div class="event-date">
      <span class="event-day">10</span>
      <span class="event-month">MAR</span>
    </div>
    <div class="event-details">
      <p>
        Abertura do curso do Pensamento Computacional - 14:00 - Unifil sede JK
      </p>
    </div>
  </div>
  <div class="event">
    <div class="event-date">
      <span class="event-day">14</span>
      <span class="event-month">JUN</span>
    </div>
    <div class="event-details">
      <p>Recesso</p>
    </div>
  </div>
  <div class="event">
    <div class="event-date">
      <span class="event-day">3</span>
      <span class="event-month">JUL</span>
    </div>
    <div class="event-details">
      <p>Volta às aulas</p>
    </div>
  </div>
  <div class="event">
    <div class="event-date">
      <span class="event-day">15</span>
      <span class="event-month">NOV</span>
    </div>
    <div class="event-details">
      <p>
        Formatura do curso Pensamento Computacional - 15:00 - Teatro Colégio
        Londrinense
      </p>
    </div>
  </div>
</div>
