<div class="event-calendar">
  <h3>Calendário de Eventos</h3>
  <div class="event">
    <div class="event-date">
      <span class="event-day">09</span>
      <span class="event-month">SET</span>
    </div>
    <div class="event-details">
      <p>
        VIII Semana da Medicina Veterinária: Terapia Integrativa na Rotina
        Prática. VII Mostra Científica
      </p>
    </div>
  </div>
  <div class="event">
    <div class="event-date">
      <span class="event-day">23</span>
      <span class="event-month">SET</span>
    </div>
    <div class="event-details">
      <p>
        ONLINE: XVIII Semana Tecnológica dos Cursos de Computação 2024: I.A. -
        Inteligência Artificial
      </p>
    </div>
  </div>
  <div class="event">
    <div class="event-date">
      <span class="event-day">23</span>
      <span class="event-month">SET</span>
    </div>
    <div class="event-details">
      <p>
        PRESENCIAL: XVIII Semana Tecnológica dos Cursos de Computação 2024: I.A.
        - Inteligência Artificial
      </p>
    </div>
  </div>
  <div class="event">
    <div class="event-date">
      <span class="event-day">07</span>
      <span class="event-month">OUT</span>
    </div>
    <div class="event-details">
      <p>
        X Simpósio Nacional de Iniciação Científica - XXIX Simpósio de Iniciação
        Científica da UniFil - XIV Encontro de Extensão da UniFil
      </p>
    </div>
  </div>
</div>
