<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Dia da Semana</th>
        <th>Horário de Início</th>
        <th>Horário de Término</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Terça-feira</td>
        <td>14:00</td>
        <td>15:45</td>
      </tr>
      <tr>
        <td>Terça-feira</td>
        <td>16:00</td>
        <td>17:45</td>
      </tr>
      <tr>
        <td>Quarta-feira</td>
        <td>14:00</td>
        <td>15:45</td>
      </tr>
      <tr>
        <td>Quarta-feira</td>
        <td>16:00</td>
        <td>17:45</td>
      </tr>
      <tr>
        <td>Quinta-feira</td>
        <td>15:00</td>
        <td>17:45</td>
      </tr>
    </tbody>
  </table>
</div>
