.image-cover {
    width: 100%;
    overflow: hidden;
  }
  
  .image-cover img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Garante que a imagem cubra o contêiner sem distorcer */
  }
  