/* You can add global styles to this file, and also import other style files */
/* definindo estilos globais - depois colocar no arquivo de definição de estilos globais*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ECEFF1;
}
