<div class="container">
  <app-feedback-default
    nomeAluno="fulano 1"
    descricao="descricaoa da atividade do aluno fulano 1"
  ></app-feedback-default>
  <app-feedback-default
    nomeAluno="fulano 2"
    descricao="descricaoa da atividade do aluno fulano 2"
  ></app-feedback-default>
  <app-feedback-default
    nomeAluno="fulano 3"
    descricao="descricaoa da atividade do aluno fulano 3"
  ></app-feedback-default>
  <app-feedback-default
    nomeAluno="fulano 4"
    descricao="descricaoa da atividade do aluno fulano 4"
  ></app-feedback-default>
  <app-feedback-default
    nomeAluno="fulano 5"
    descricao="descricaoa da atividade do aluno fulano 4"
  ></app-feedback-default
  ><app-feedback-default
    nomeAluno="fulano 6"
    descricao="descricaoa da atividade do aluno fulano 4"
  ></app-feedback-default>
</div>
