.container {
    max-width: 80%;
    display: flex;
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: orange;
    border-radius: 10px;
    margin: 30px auto;
    padding: 20px;
    flex-wrap: wrap; /* Permite quebra de linha em telas menores */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Garante que o conteúdo permaneça dentro do contêiner */
    
}



.prof {
    flex: 1 1 200px; /* Flex-grow, flex-shrink, e largura mínima */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
}

img {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    border-radius: 100px;
    height: auto;
    object-fit: cover;
}

.descricao {
    flex: 2 1 300px; /* Ajusta a proporção da descrição */
    padding: 12px;
    text-align: justify;
    word-wrap: break-word; /* Quebra palavras longas para evitar overflow */
    overflow: hidden; /* Garante que o texto permaneça dentro do contêiner */
    opacity: 0;
    animation: fadeIn 8s forwards; ;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Começa invisível */
    }
    to {
      opacity: 1; /* Termina visível */
    }
  }

.fade-in {
    animation: fadeIn 8s forwards; 
  }

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 80%; /* Ajusta a largura máxima para telas menores */
    }

    .prof, .descricao {
        width: 100%;
    }
}

p{
  margin-bottom: 1em;
}
